@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: $text-color;
}
body {
    background-color: #06090f;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
