@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: $text-color;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

svg {
    path {
        fill: $text-color;
    }
}

h1 {
    margin-bottom: 0;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
