.about {
    &__wrapper {
        padding: 120px 0;
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: minmax(243px, auto) minmax(317px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &__photo {
        grid-row: 1 / 3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__block {
        .divider {
            margin: 0;
        }
    }
    &__text {
        font-size: 14px;
        margin-top: 20px;
    }
    &__skills {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(2, 116px);
        column-gap: 50px;
        row-gap: 20px;
        &-item {
            display: grid;
            grid-template-columns: 40px 200px;
            column-gap: 20px;
            position: relative;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
    }
    &__skill {
        font-size: 12px;
        line-height: 18px;
    }
    &__skill-text {
        margin-top: 6px;
    }
    &__title {
        position: relative;
        padding-left: 12px;
        margin-top: 10px;
        @include before_circle;
    }
    &__svg {
        padding: 12px 20px 0 16px;
        &_padding {
            padding: 12px 20px 0 20px;
        }
    }
    &__subtitle {
        line-height: 60px;
        margin-top: 6px;
    }
}