.about {
    background-color: #06090f;
    &__wrapper {
        padding: 120px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(220px, auto) minmax(130px, auto);
        grid-template-areas: "my_photo about about"
                             "my_photo web mobile"
                             "my_photo design .";
    }
    &__photo {
        width: 100px;
    }
    &__block {
        margin-left: 70px;
        .divider {
            margin: 0;
        }
    }
    &__text {
        font-size: 14px;
        margin-top: 20px;
    }
    &__skills {
        display: flex;
        margin: 40px 0 0 70px;
        position: relative;
        z-index: 2;
        @include before_circle;
        &:before {
            top: 0;
        }
    }
    &__skill {
        font-size: 12px;
        line-height: 18px;
    }
    &__skill-text {
        margin-top: 6px;
    }
    &__title {
        position: relative;
        z-index: 2;
        padding-left: 12px;
        margin-top: 6px;
        @include before_circle;
    }
    &__svg {
        padding: 12px 20px 0 16px;
        &_padding {
            padding: 12px 20px 0 20px;
        }
    }
    &__subtitle {
        line-height: 60px;
        margin-top: 6px;
    }
    #main_photo {
        grid-area: my_photo;
    }
    #about_me {
        grid-area: about;
    }
    #web_dev {
        grid-area: web;
    }
    #mobile_dev {
        grid-area: mobile;
    }
    #desing {
        grid-area: design;
    }
}