@media screen and (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 190px;
            } 
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,365px);
            column-gap: 100px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 270px);
            grid-template-rows: repeat(3,minmax(270px,auto));
            justify-content: center;
        }
        &__progress {
            &-wrapper {
                grid-template-columns: repeat(2,350px);
                justify-content: space-around;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 0 65px 120px 65px;
            grid-template-columns: 590px;
        }
        &__column {
            padding-top: 40px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
            grid-template-rows: repeat(4,minmax(270px,auto));
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        &__wrapper {
            padding: 40px 0;
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-row: unset;
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 410px;
            padding-bottom: 40px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: 270px;
            grid-template-rows: repeat(7,minmax(270px,auto));
            padding: 20px 0 40px 0;
        }
        &__progress {
            &-wrapper {
                grid-template-columns: 350px;
                row-gap: 40px;
            }
        }
        .divider {
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 8px;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .title {
        &_fz36 {
            font-size: 24px;
        }
    }
    .resume {
        &__wrapper {
            padding: 0 8px 40px 8px;
            grid-template-columns: 288px;
        }
    }
    .skills {
        &__progress {
            &-wrapper {
                grid-template-columns: 303px;
            }
        }
    }
}