.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
    }
    &__btns {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }
    &__link {
        color: $text-color;
        font-weight: bold;
        &:hover {
            color: $text-color;
            text-decoration: none;
        }
    }
}