.resume {
    &__title {
        padding-top: 6px;
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 120px 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 48%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #fff;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 42px;
            position: absolute;
            top: 62px;
            background-color: $text-color;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 42px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 8px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
        &-body {
            font-size: 12px;
            line-height: 18px;
        }
    }
}