.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    color: $text-color;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $text-color;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-90deg) translate(-36%, -260%);
            display: block;
            width: 150px;
            font-weight: bold;
            font-size: 16px;
        }
    }
}