.skills {
    &__wrapper {
        padding: 60px 10px 120px 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        gap: 13px;
    }
    &__item {
        border: 1px solid #000;
        padding: 30px 30px 25px 30px;
        &-title {
            margin: 20px 0 15px 0;

        }
    }
    &__text {
        font-size: 12px;
        line-height: 18px;
    }

    &__progress {
        &-wrapper {
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 30px;
        }
        &-title {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 8px 0 27px 14px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
        &-counter {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &__rectangle {
        max-width: 350px;
        height: 14px;
        border-radius: 4px;
        background-color: #E8E4DE;
        &-createWeb, &-devApps, &-data, &-creativity, &-design, &-softSkills {
            height: 14px;
            border-radius: 3px;
            background-color: $main-color;
        }
    }
}