.title {
    font-weight: bold;
    &_fz36 {
        font-size: 36px;
    }
    &_fz14 {
        font-size: 14px;
    }
    &_fz16 {
        font-size: 16px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz48 {
        font-size: 48px;
        line-height: 60px;
    }
    &__section-title {
        position: relative;
        text-align: center;
        padding: 5px 0 6px 0;
        @include before_circle;
        &:before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}